<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.e.learn">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".dagger_retrofit.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".litho.LithoActivity">

        </activity>
        <activity android:name=".multimagepicker.RandomImage">

        </activity>
        <activity android:name=".multimagepicker.MultiImagePicker">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".signature.Signature" />
        <activity android:name=".signature.NewSignatureActivity" />
        <activity android:name=".signature.SignatureActivity" />
        <activity android:name=".pushnotification.StaticNotification" />
        <activity android:name=".googlepay.GooglePayActivity" />
        <activity android:name=".designs.LoginActivity" />
        <activity android:name=".pushnotification.PushActivity" />
        <activity android:name=".screensizes.DifferentScreensActivity" />
        <activity android:name=".multiviewrecycler.MainRecyclerview" />
        <activity android:name=".razorpay.CheckoutActivity" />
        <activity android:name=".loading_button.LoadingButtonActivity" />
        <activity android:name=".gmail.ProfileActivity" />
        <activity android:name=".gmail.GoogleSignIn" />
        <activity android:name=".map.DisplayMap" />
        <activity android:name=".blockdates.BlockDatesActivity" />
        <activity android:name=".firebaserecyclerview.FirebaseInputActivity" />
        <activity android:name=".epoxy.EpoxyRercylerview" />
        <activity android:name=".EnCryption" />
        <activity android:name=".viewtype.ViewTypeActivity" />
        <activity android:name=".firebase.ActivitySendPushNotification" />
        <activity android:name=".firebase.DisplayToken" />
        <activity android:name=".driving_distance.ClaculateDistance" />
        <activity android:name=".eventbus.EventBusActivity" />
        <activity android:name=".cart.Cart" />
        <activity android:name=".dagger_retrofit.MainDaggerRetrofit" />
        <activity android:name=".dagger.Main" />
        <activity android:name=".workmanager.WorkManagerMain" />
        <activity
            android:name=".viewmodel.ScrollingActivity"
            android:label="@string/title_activity_scrolling"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".pagination.MainPage" />
        <activity android:name=".FlipImageAnimation" />
        <activity android:name=".recyclerviewmodel.RecyclerMain" />
        <activity android:name=".viewmodel.NewWordActivity" />
        <activity android:name=".viewmodel.MainScoreActivity" />
        <activity android:name=".newviewmodel.NewView" />
        <activity android:name=".recyclerviewmodel.NormalRecycler" />
        <activity android:name=".litho.widgets.Widgets" >

        </activity>
        <activity android:name=".multimagepicker.RandomImages" >

        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_test_ydlijheHBatlOQ" />
        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />

        <service android:name=".firebase.FirebaseMessaginID">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".pushnotification.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".eventbus.EventService" /> <!-- GooglePay -->
        <service android:name=".firebase.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>


</manifest>